<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular filter and pagination</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-controller="MainController">

<div class="container">
    <div class="row">
        <h3>Filter and Pagination</h3>
        <div class="col-xs-4">
            <label>Search:</label>
            <input type="search" class="form-control" name="search" ng-model="search"/>
        </div>
        <div class="col-xs-2">
            <label>By:</label>
            <select class="form-control" name="type" ng-model="type" ng-options="o.value as o.label for o in options">
            </select>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="o in data | filter: filter | itemsPerPage: 10">
                    <td>{{o.city}}</td>
                    <td>{{o.email}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="dirPagination.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>